.styleul{
    list-style-type: none;
    background-color:grey;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li{
    float:left;
}
nav li a{
    color:white;
    text-decoration: none;
    padding: 15px 15px;
    display: inline-block;
    font-size: 30px;
}
nav li a:hover{
    background-color: gold;
}
.homepage{
    background-image: url("./download.jfif");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}
.hrstext{
    text-align: center;
    font-size: 50px;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%) ;
    position: absolute;

}
.button{
    background-color: gold;
    width: 60%;
    padding: 14px 20px;
    border-radius: 12px;

}