.styleul{
    list-style-type: none;
    background-color:grey;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;

}
nav li{
    float:left;
}
nav li a{
    color:white;
    text-decoration: none;
    padding: 15px 15px;
    display: inline-block;
    font-size: 30px;
}
nav li a:hover{
    background-color: gold;
}
.homepage{
    background-image: url("../images/image1.jfif");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}
.hrstext{
    text-align: center;
    font-size: 50px;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%) ;
    position: absolute;
    color: white;

}
.button{
    background-color: gold;
    width: 60%;
    padding: 14px 20px;
    border-radius: 12px;

}
.center{
    text-align: center;
}
nav,section{
    margin: 3px;
    padding: 2px;
}
.flexbox{
    display: flex;
}
#about p{
    border: 2px solid gold;
    margin: 5px;
    padding: 15px;

}
.flex-contain > div{
    margin: 5px;
    padding-left: 3px;
    margin-bottom: 30px;

}
#gallery img{
    border-radius: 50%;
}
#gallery > div{
    margin: 5px;
    padding-left: 3px;
    margin-bottom: 30px;
    margin-left: 15px;


}